name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Message that will be displayed on users' first issue"
        pr-message: "Message that will be displayed on users' first pull request"
            - nombre: Primera interacción
  usos: acciones/primera-interacción@v1.3.0
  con:
    Token para el repositorio. Se puede pasar usando {{ secrets.GITHUB_TOKEN }}
    token de repositorio:
    # Comentario para publicar sobre el primer problema de un individuo
    mensaje de problema: # opcional
    # Comentario para publicar en la primera solicitud de extracción de un individuo
    pr-message: # opcional
          
